 
 	body{
 		min-height: 100vh;
 		background-color: #ccc;
 		background-image: url('https://unsplash.it//1500/800?random');

 	}
 	header img{margin:20px auto;}
 	.login-form{
 		margin-top: 50vh;
 		padding: 20px 50px;
 		background-color: rgb(0,0,0,.5);
 		transform: translateY(-50%);
 		color: #fff;
 	}


 	.login-form h1{
 		margin: 0 0 5px;
 	}
 	.login-form h2{
 		margin: 0 0 30px;
 		font-size: 1em;
 	}